.jumbotron {
    background-color:cornflowerblue;
    color: black;
}

footer {
    padding: 10px;
    margin-bottom: 0px;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    jus
}

.btn-reserva {
    width: 100%;

}

a {
    color: darkblue;
}